.navbar {
    background-color: #f0f0f0;
    padding-left: 60px;
    border-bottom: #89d29a 2px solid;
}
.container{
    margin-top: 60px; 
}

.list-item{
    text-align: center;
    padding: 20px;
    /* border: black 2px solid;  */
}
.item-image{
    width: 160px;
    height: 160px;
}
.price{
    font-size: 1.8em;
}
#shoping-cart{
    text-align: center;
    background-color: #89d29a;
}
.cart-item{
    padding-bottom: 25px;
}

.item-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.item-name:hover {
    text-overflow: inherit;
    overflow: visible;
}